app/views/video.jade
extends layouts/_default

block content
    a#click(href="#", onclick="renderObject.start();return false;") Запустить
    #WebGL-output
    //- var title = { description: 'Typical' }
    ////img.margleft100(src="images/robot.png", alt="")
    ////a.view(style="position: absolute;top: 250px;right: 0;left: 0;margin:auto;width: 100px;height: 50px;color:#fff", href="#") PLAY >
    //video(src="video/shot_2and3_hi_quality_1_loop.mp4", autoplay, loop)
    //    //source#ss(src="video/shot_1.mp4", type='video/mp4')
    //
    //.menuDot
    //    .menuDot__item.menuDot__item-1
    //        a(href='#', rel="popover", data-html="true", data-title="<img class='img--bordered img--left' src='images/hotel-1.png' alt=''>", data-content="<h3>SV HOTELS</h3><p class='text--md'>Уютный отель в самом сердце Петербурга</p>")
    //    .menuDot__item.menuDot__item-2
    //        a(href='#', rel="popover", data-html="true", data-title="<img class='img--bordered img--left' src='images/hotel-1.png' alt=''>", data-content="<h3>SV HOTELS</h3><p class='text--md'>Уютный отель в самом сердце Петербурга</p>")
    //    .menuDot__item.menuDot__item-3
    //        a(href='#', rel="popover", data-html="true", data-title="<img class='img--bordered img--left' src='images/hotel-1.png' alt=''>", data-content="<h3>SV HOTELS</h3><p class='text--md'>Уютный отель в самом сердце Петербурга</p>")
    //    .menuDot__item.menuDot__item-4
    //        a(href='#', rel="popover", data-html="true", data-title="<img class='img--bordered img--left' src='images/hotel-1.png' alt=''>", data-content="<h3>SV HOTELS</h3><p class='text--md'>Уютный отель в самом сердце Петербурга</p>")
    //    .menuDot__item.menuDot__item-5
    //        a(href='#', rel="popover", data-html="true", data-title="<img class='img--bordered img--left' src='images/hotel-1.png' alt=''>", data-content="<h3>SV HOTELS</h3><p class='text--md'>Уютный отель в самом сердце Петербурга</p>")
    ////video#main(width="100%", preload="auto", poster="images/background.jpg")
    ////    source(src="video/shot_2and3.mp4", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
    ////    source(src="video/shot_2and3.ogv", type='video/ogg; codecs="theora, vorbis"')
    ////    source(src="video/shot_2and3.webm", type='video/webm; codecs="vp8, vorbis"')
    ////    | Тег video не поддерживается вашим браузером.

dist/video.html
<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js gt-ie9"> <![endif]-->
<!--[if !IE] <![IGNORE[--><!--[IGNORE[]]--> <html class="no-js noie">
<!-- миксины-->
<!---->
<!--mixin sliderNav(classUl, ...items)-->
<!--    nav(class=classUl)-->
<!--        each item in items-->
<!--            div: a(href='#')-->
<!--                .img: img(src="images/navIco-1.png", alt="")-->
<!--                = item-->
<!--            li.nav__element-->
<!--                a(href="#").nav__element-item= item-->
<!---->
<!---->
<!--mixin slide-products(text, number, summ)-->
<!--    .item.products-block__item-->
<!--        img(src="images/products-img/products-#{summ}.jpg", alt="")-->
<!--        .products-block__item-title-->
<!--            span.products-block__item-number #{number}&nbsp;-->
<!--            span.font--lg #{text}-->
<head>
  <meta charset="utf-8">
  <title>SV group</title>
  <meta name="description" content="">
  <!--meta(name="viewport", content="width=device-width, initial-scale=1")-->
  <link rel="shortcut icon" href="favicon.ico"><link rel="stylesheet" href="styles/vendor.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <div id="loader">
    <div class="circle"><img src="images/loader.png" alt="" class="load"></div>
  </div>
  <div id="modal-id" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body"><img src="images/hotel-1.png" alt="" class="img--bordered img--left">
          <h3>SV HOTELS</h3>
          <p class="text--md">Уютный отель в самом сердце Петербурга</p>
        </div>
      </div>
    </div>
  </div>
  <video id="myVideo" src="video/first_logo.mp4" autoplay></video>
  <main style="opacity:0;overflow:hidden"><a id="click" href="#" onclick="renderObject.start();return false;">Запустить</a>
    <div id="WebGL-output"></div>
    <!--//img.margleft100(src="images/robot.png", alt="")-->
    <!--//a.view(style="position: absolute;top: 250px;right: 0;left: 0;margin:auto;width: 100px;height: 50px;color:#fff", href="#") PLAY >-->
    <!--video(src="video/shot_2and3_hi_quality_1_loop.mp4", autoplay, loop)-->
    <!--    //source#ss(src="video/shot_1.mp4", type='video/mp4')-->
    <!---->
    <!--.menuDot-->
    <!--    .menuDot__item.menuDot__item-1-->
    <!--        a(href='#', rel="popover", data-html="true", data-title="<img class='img--bordered img--left' src='images/hotel-1.png' alt=''>", data-content="<h3>SV HOTELS</h3><p class='text--md'>Уютный отель в самом сердце Петербурга</p>")-->
    <!--    .menuDot__item.menuDot__item-2-->
    <!--        a(href='#', rel="popover", data-html="true", data-title="<img class='img--bordered img--left' src='images/hotel-1.png' alt=''>", data-content="<h3>SV HOTELS</h3><p class='text--md'>Уютный отель в самом сердце Петербурга</p>")-->
    <!--    .menuDot__item.menuDot__item-3-->
    <!--        a(href='#', rel="popover", data-html="true", data-title="<img class='img--bordered img--left' src='images/hotel-1.png' alt=''>", data-content="<h3>SV HOTELS</h3><p class='text--md'>Уютный отель в самом сердце Петербурга</p>")-->
    <!--    .menuDot__item.menuDot__item-4-->
    <!--        a(href='#', rel="popover", data-html="true", data-title="<img class='img--bordered img--left' src='images/hotel-1.png' alt=''>", data-content="<h3>SV HOTELS</h3><p class='text--md'>Уютный отель в самом сердце Петербурга</p>")-->
    <!--    .menuDot__item.menuDot__item-5-->
    <!--        a(href='#', rel="popover", data-html="true", data-title="<img class='img--bordered img--left' src='images/hotel-1.png' alt=''>", data-content="<h3>SV HOTELS</h3><p class='text--md'>Уютный отель в самом сердце Петербурга</p>")-->
    <!--//video#main(width="100%", preload="auto", poster="images/background.jpg")-->
    <!--//    source(src="video/shot_2and3.mp4", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')-->
    <!--//    source(src="video/shot_2and3.ogv", type='video/ogg; codecs="theora, vorbis"')-->
    <!--//    source(src="video/shot_2and3.webm", type='video/webm; codecs="vp8, vorbis"')-->
    <!--//    | Тег video не поддерживается вашим браузером.-->
  </main>
  <footer></footer>
  <!--script(src='http://vjs.zencdn.net/4.3/video.js')-->
  <script src="http://threejs.org/build/three.min.js"></script><script src="scripts/vendor.js"></script>
  <script src="scripts/main.js"></script>
</body></html>
